.page1 {
  background-color: #fafafa;
}

.searchBtn {
  position: relative;
  background-color: #4a3174;
  color: white;
  right: -267px;
  top: 0px;
  height: 43px;
  border-radius: 4px;
}
.logo {
  position: relative;
  top: -50px;
  left: -700px;
}
.group4 {
  position: relative;
  top: -30px;
  left: -900px;
}
.form {
  position: relative;
  height: 40px;
  right: -287px;
}
#searchbar {
  position: relative;
  left: 690px;
  top: 200px;
}

.pitch {
  position: relative;
  left: -872px;
  top: 0px;
}
.Recommandations {
  position: relative;
  left: -600px;
  color: #4a3174;
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  top: 200px;
}

.container {
  position: relative;
  width: 900px;
  border: 5px solid white(111, 41, 97);
  border-radius: 0.5em;
  padding: 260px;
  display: flex;
  justify-content: space-between;
  margin: 10em;
  left: -308px;
  top: -3px;
}

.item1 {
  position: relative;
  width: 150px;
  height: 250px;
  padding: 70px;
  background-color: white;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.item2 {
  position: relative;
  width: 150px;
  height: 250px;
  padding: 70px;
  background-color: white;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.item3 {
  position: relative;
  width: 150px;
  height: 250px;
  padding: 70px;
  background-color: white;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
#p1 {
  position: relative;
  top: 585px;
  right: -90px;
}
.texte {
  position: relative;
  top: -1058px;
  left: 90px;
}
.texte2 {
  position: relative;
  top: -1080px;
  left: 90px;
  color: #7a7a7a;
}
.prix1 {
  position: relative;
  top: -1097px;
  left: 90px;
  color: #bdb3cc;
}
#p2 {
  position: relative;
  top: 200px;
  right: 5px;
}
.textep2 {
  position: relative;
  top: -778px;
  left: 490px;
}
.texte2p2 {
  position: relative;
  top: -800px;
  left: 490px;
  color: #7a7a7a;
}
.prix1p2 {
  position: relative;
  top: -818px;
  left: 490px;
  color: #bdb3cc;
}

#p3 {
  position: relative;
  top: 210px;
  right: 100px;
}

.textep3 {
  position: relative;
  top: -898px;
  left: 890px;
}
.texte2p3 {
  position: relative;
  top: -920px;
  left: 890px;
  color: #7a7a7a;
}
.prix1p3 {
  position: relative;
  top: -938px;
  left: 890px;
  color: #bdb3cc;
}

#LOW {
  position: relative;
  top: 180px;
}
.pascher {
  position: relative;
  right: -110px;
  color: #4a3174;
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  top: -380px;
}
#couleurprix {
  position: relative;
  right: -610px;
  color: #eab92d;
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  top: -465px;
}

.site-footer {
  background-color: #4a3174;
  padding: 0px 5px 60px;
  font-size: 15px;
  line-height: 24px;
  color: white;
}
.site-footer hr.small {
  margin: 20px 0;
}
.site-footer a .site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links {
  position: relative;
  padding-left: 40px;
  list-style: none;
  right: -270px;
  top: -100px;
}
.footer-links li {
  display: block;
}
.footer-links a {
  color: white;
}
.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}
.footer-links.inline li {
  display: inline-block;
}
#imgfooter {
  position: relative;
  height: 20px;
  top: -350px;
  left: -200px;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
}
.img1 {
  position: relative;
  width: 1000px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border-radius: 0.5em;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  margin: 1em;
  height: 188px;
  background-color: white;
  top: -240px;
  right: -100px;
}
.rec1 {
  position: relative;
  display: flex;
  top: 5px;
  height: 150px;
  left: -900px;
}
#imp1 {
  right: -100px;
  position: relative;
}
.text {
  position: relative;
  color: #7a7a7a;
  right: -21px;
}
.text2 {
  position: relative;
  color: #bdb3cc;
  top: -20px;
  right: -21px;
}
.text3 {
  position: relative;
  color: #cbcbcb;
  top: -10px;
  right: -20px;
}
#couleurprix2 {
  position: relative;
  right: -560px;
  color: #bdb3cc;
  right: -820px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  top: -155px;
}
